@page
@model Sacramento.Pages.Plans.DetailsModel

@{
    ViewData["Title"] = "Sacrament Meeting Plan";
}

<div>
    <dl class="plan-detail row">
        <div class="col-sm-12 center-align" style="margin-bottom: 40px;">
            <h4>Sacrament Meeting Plan</h4>
            @Html.DisplayFor(model => model.Plan.MeetingDate)
        </div>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.PresidingLeader)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.PresidingLeader.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.ConductingLeader)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.ConductingLeader.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.OpeningSong)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.OpeningSong.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.OpeningPrayer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.OpeningPrayer)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.SacramentHymn)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.SacramentHymn.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.IntermediateSong)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.IntermediateSong.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.ClosingSong)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.ClosingSong.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plan.ClosingPrayer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plan.ClosingPrayer)
        </dd>
        
        <dt class="col-sm-3">
            Speakers
        </dt>
        <dd class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Speaker
                        </th>
                        <th>
                            Subject
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model.Plan.Speakers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    <form method="post">
                                        <input asp-for="Index" type="hidden" value="@i" />
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </form>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>

        </dd>
    </dl>
</div>
<div>
    <a class="btn" asp-page="./Edit" asp-route-id="@Model.Plan.ID">Edit</a> | <a class="btn btn-highlight" asp-page="./Delete" asp-route-id="@Model.Plan.ID">Delete</a>
    <br />
    <br />
    <a class="text-dark" asp-page="./Index">&#8592; Back to List</a>
</div>
