@page
@model Sacramento.Pages.Plans.IndexModel

@{
    ViewData["Title"] = "Sacramento | Plans";
}

<h1>Sacrament Meeting Plans</h1>

<p>
    <a class="btn btn-highlight" asp-page="Create">Create New +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan[0].MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan[0].PresidingLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan[0].ConductingLeader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plan)
        {
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PresidingLeader.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConductingLeader.Name)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">View &#8594;</a> 
                    </td>
            </tr>
        }
    </tbody>
</table>
