@page
@model MegaDeskRazor.Pages.MaterialImages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex;">
    <h1>Images</h1>
    <a class="btn btn-primary reg-btn add-btn" href="/MaterialImages/Create" title="Add New Image"> <h3>&#43;</h3></a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialImage[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialImage[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaterialImage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
